{% extends 'newapp/main.html' %} {% block content %}{% load socialaccount %}
<div class="header-bar">
  <h1>Login</h1>
</div>

<div class="card-body">
  <form method="POST">
    {% csrf_token %} {{form.as_p}}
    <input class="button" type="submit" value="login" />
  </form>
  <p>Don't Have An Account? <a href="{% url 'register' %}">register</a></p>
  <a href="{% provider_login_url 'google' %}?next=/" 
   class="google-btn">
   <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" 
  style="width:20px; vertical-align:middle; margin-right:8px;" />
   Sign in with Google
</a>
</div>

{% endblock content %}
